html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "lato", sans-serif;
    max-width: 600px;
    margin: 0 auto;
    display: block;
    background-image: url("../images/background.jpg");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
}

